* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(205, 230, 219);
}
.d-flex {
  color: brown;
  font-family: cursive;
}
p {
  color: mediumseagreen;
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: fantasy;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
  background-color: lightblue;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(205, 230, 219);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.indexcard {
  text-decoration: none;
}
